@import url(https://fonts.googleapis.com/css?family=Raleway:300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.board-container, .gameOverPic {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 130px;
}

:root {
  --backgroundColor: rgb(0, 0, 0);
  --buttonColor: #37373745;
  --cellSize: 50px;
  --colorGap: 10px;
  --buttonBorderRadius: 5px;
}

html,body{
  display: grid;
  background: var(--backgroundColor);
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

table{
  margin: auto;
  border: 10px solid var(--buttonColor);
  border-collapse: collapse;
}

.center{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.outer{
  position: relative;
  background: var(--backgroundColor);
}

.button{    /*  changes the back*/
  height: var(--cellSize);
  width: var(--cellSize);
  border-radius: var(--buttonBorderRadius);
}

.outer button, .outer span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer button{  /* changes inside button*/
  background: var(--buttonColor);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #f2f2f2;
  outline: none;
  border: none;
  font-size: 30px;
  z-index: 10;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.button button{   /* top of button */
  height: calc(var(--cellSize) - var(--colorGap));
  width: calc(var(--cellSize) - var(--colorGap));
  border-radius: var(--buttonBorderRadius);
}

.outer span{
  height: 100%;
  width: 100%;
  background: inherit;
}

.button span{
  border-radius: var(--buttonBorderRadius);
}

.outer:hover span:nth-child(1){
  filter: blur(7px);
}

.outer:hover span:nth-child(2){
  filter: blur(40px);
}


.outer:hover{
  z-index: 20;
  background: linear-gradient(to right top, #14ffe9, #ffeb3b, #ff00e0);
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
@media (max-width: 640px){
  .center{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .outer{
    margin: 50px 0;
  }
}

.bomb {
  height: calc(var(--cellSize) - 10px);
}


.flag {
  margin-top: 10px;
  width: calc(var(--cellSize) - 22px);

}

.outerShown{
  z-index: 20;
  background: linear-gradient(#103800, #2a9300, #0f3400);
}

.outerShown:hover {
  z-index: 20;
  background: linear-gradient(#103800, #2a9300, #0f3400);
  animation: none;
}

.outerShownBobm {
  z-index: 20;
  background: linear-gradient(#4a0000, #a50000, #4a0000);
}

.outerShownBobm:hover {
  z-index: 20;
  background: linear-gradient(#4a0000, #a50000, #4a0000);
  animation: none;
}


.restartSection {
  margin-top: 800px;
  z-index: 40;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.levelChoise, .restart{
  background: var(--buttonColor);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #f2f2f2;
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  bottom:10px;
}

.restart {
  margin: auto;
  margin-bottom: 50px;
  padding: 10px;
  font-size: 40px;
  background-clip: content-box;
  border: 10px solid var(--buttonColor);
  bottom: 20px;
  width: 300px;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
}

.restart:active {
  color:green;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}


.smiley {
  width: 35px
}

.topLine {
  padding: 5px 0 5px;
  text-align:center;
  margin-top: 20px;
  color: #ffffff;
  font-size: 35px;
  background: var(--buttonColor);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.life, .hearts {
  color: #850101;
  margin-left: 50px;
  display: inline;
  float:left;
}

.hearts {
  min-width: 200px;
  min-height: 10px;
  text-align: left;
}

.clock {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 200px;
  height: 90px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #ffffff;
  font-size: 45px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.minesOnBoardSign, .minesOnBoard{
  margin-right: 50px;
  display: inline;
  float:right;
  margin-right: 30px;
}

.heart {
  width: 30px;
  margin-left: 20px;
}

.gameOverPic {  
  text-align: center;
  margin-top: 300px;
  display: none;
}

.endGame {
  text-align: center;
  z-index: 30;
}


input[type='radio']::before,  input[type='radio']:checked::before{
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #ff0000;
  content: '';
  display: inline-block;
  cursor: pointer;
  position: absolute;
  bottom: -5px;
}

input[type='radio']:checked::before {
  background-color: #eaff00;
  top: 126px;
  width: 50px;
  height: 50px;
}

label {
  padding-left: 35px;
}

.nums {
  height: 70px;
  padding: 0 -5px 0 - 5px;
}

.undo {
  z-index: 50;
  width: 200px;
  transform: rotate(-30deg);
  position: absolute;
  top: 150px;
  left: calc(0% + 50px);
  cursor: pointer;
  background: none;
}

.undoImg {
  width: 200px;
}

.undo:active {
  background-color:green;
}
